<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta property="og:title" content="*|MC:SUBJECT|*" />

		<title>Template e-mail example</title>
	</head>
	
	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
		<center>
			<h1>$title</h1>
			<p style="color: #ccff00;">$bodyText</p>
			<span style="font-size: 11px; margin-top: 18px; color: #cccccc;">$footer</span>
		</center>
	</body>
</html>
